/*
77c10e - light green wala
515151 - light black
2d2d2d - dark black(nvbar wala)
*/
body{
	background-color: #fff;
	overflow-y: scroll !important;
}
.top-nav-wrap{
	background-color: #2d2d2d;
	padding: 2rem 2rem;
	padding-bottom: 0.4rem;
}
.black-overlay-sideout{
	position: absolute;
	display:none;
	width: 100%;
	height: calc(100% + 20px);
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	cursor: pointer;
}
.hamburger{
	vertical-align: middle;
	padding: 8px 8px;
}
.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{
	background-color: #fff;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #2d2d2d;
}

.bootstrap-select{
	background-color: #eee;
	color:#000;
	padding: 0 15px;
	vertical-align: middle;
}
ul.dropdown-content{
	left:0px !important;
}
.select-wrapper input.select-dropdown{
	border-bottom: none;
	height: 2rem;
	vertical-align: middle;
	margin-left: -10px;
	width: 150%;
}
.select-wrapper span.caret {
	right: 5px;
	top: 30%;
}
.nav-course-btn{
	margin-top: 1.8rem;
	background-color: #515151 !important;
}
.nav-course-btn:hover{
	background-color: #444343 !important;
}

/*TABLE**********/
.timetable-timing{
	background-color: transparent !important;
}
.timetable-header{
	background-color: #2d2d2d !important;
	color: #fff !important;

}
td.unselected{
	background-color: #f2f2f2 !important;
	border:;
}
td.unselected .number{
	background-color: #f2f2f2 !important;
}
.timetable td {
	border: 4px solid;
	border-color: rgb(255, 255, 255);
}

/*****Selected timetables******/
.timetable-selected-headings{
	background-color: #2d2d2d !important;
}


.download-share-but{
	background-color: #77c10e;
	text-align: center;
	padding: 0.5rem 0.6rem;
	color: #fff !important;
}

.tt-footer{
	background-color: #2d2d2d !important;
	padding: 2rem;
}
.tt-footer .withlovegdg{
	color: #eee;
	display: inline-block;
}
.tt-footer .footer-gdg-logo{
	width: 150px;
	vertical-align: middle;
}

/*********sidenav slide******/
.side-nav-my {
	position: absolute;
	width: 300px;
	left: 0;
	top: 0;
	margin: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	height: 100%;
	height: calc(100% + 20px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 999;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow-y: auto;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);

	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	padding: 2rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.side-nav-my.opened{
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.slot-gool{
	background-color: #eee;
	border-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
}
.add-plus-div{
	background-color: #d60f00;
	padding: 7px 12px;
	display: inline-block;
	border-radius: 50%;
}
#sidenav-overlay{
	display: none !important;
	opacity: 0 !important;
}
#slide-out{

}
.side-type-box{
	background-color: #77c10e;
	padding: 0.7rem;
	margin-bottom: 1rem;
}
.course-count-span{
	float: right;
	cursor: default;
}
.course-venue-span{

}
.slot-gool{
	font-size: 0.8rem !important;
	margin-bottom: 0.5rem;
	max-width: 100%;
	overflow-wrap: break-word;
}
.suggested-courses-but{
	/*background-color: #77c10e !important;*/
	margin-top: 1.8rem;
}
.suggested-courses-but:hover{
	/*background-color: #64a10c !important;*/
}
.add-plus-div{
	cursor: pointer;
	margin-top: 10px;
}
.faculty-heading{
	margin-bottom: 10px;
}
.message-box{
	position: fixed;
	top: 28%;
	left: 46%;
	text-align: center;
	border-radius: 30px;
	color: white;
	background-color: #77c10e;
	padding: 7px 17px;
	padding-right: 10px;
	z-index: 10001;
	display: none;
}
.message-box.showing{
	display: block;
}
.message-close-but{
	cursor: pointer;
}
@media(max-width: 769px){
	.nav-sea-log-but{
		margin-top: 1rem;
	}
	.message-box{
		top: 20px;
		left: 27%;
	}
}
@media(min-width: 769px){
	.hamburger-nav-col{
		margin-top: 1.6rem;
	}
}

.select2-container{
	width: 100% !important;
}
